.fallback-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #f3f4f6; /* Background color, optional */
}

.loading {
  position: relative;
  width: 80px;
  height: 80px;
}

.effects {
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
  animation: spin 1.2s linear infinite;
}

.effect-1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-color: #3498db;
}

.effect-2 {
  top: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  border-bottom-color: #e74c3c;
}

.effect-3 {
  top: 16px;
  left: 16px;
  width: 48px;
  height: 48px;
  border-right-color: #f9c922;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
